// --- 图标设置 ---
// IDI_ICON1 是资源标识符，1 是顺序
// "app.ico" 是图标文件名，确保它和 .rc 文件在同一个文件夹下
IDI_ICON1 ICON "app.ico"

// --- 版本信息设置 ---
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,16                 // 文件版本 (必须用逗号隔开)
 PRODUCTVERSION 0,16              // 产品版本 (必须用逗号隔开)
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"             // 简体中文 (中国)
        BEGIN
			
            VALUE "CompanyName",      "PHK512"
            VALUE "FileDescription",  "C++"
            VALUE "FileVersion",      "0.16"
            VALUE "InternalName",     "Fall4K.exe"
            VALUE "LegalCopyright",   "PHK512"
            VALUE "OriginalFilename", "Fall4K.exe"
            VALUE "ProductName",      "Fall4K"
            VALUE "ProductVersion",   "0.16"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200 // 简体中文
    END
END
